<%= simple_form_for(@member) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :gender %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.association :plot %>
    <%= f.input :joined_at %>
    <%= f.input :left_at %>
    <%= f.input :board %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
