<%= simple_form_for(@member) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :gender %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.association :plot, label_method: :number, value_method: :id %>
    <%= f.input :joined_at, as: :date, html5: true %>
    <%= f.input :left_at, as: :date, html5: true %>
    <%= f.input :board %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
